@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}  

header .navigation{
    position: relative;
  }
  
header .navigation .navigation-items a{
position: relative;
color: #fff;
font-size: 1em;
font-weight: 500;
text-decoration: none;
margin-left: 30px;
transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
content: '';
position: absolute;
background: #fff;
width: 0;
height: 3px;
bottom: 0;
left: 0;
transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
width: 100%;
}



.chartCard {
  width: 100vw;
  /* margin-top: 20px; */
  height: 100vh;
  /* height: calc(100vh - 40px); */
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 600px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}

.canvas-container {
  width: 100vw;
  /* margin-top: 20px; */
  height: 100vh;
  /* height: calc(100vh - 40px); */
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}




#PurchaseDateRange {
    background: url("../image/schedule_image/calendar.jpg");
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: 1% 30%;
}









